.gallery-container {
    background-color: rgb(187, 184, 184);
}

.gallery {
    gap: 6px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 5px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
}

img:hover {
    border: 4px solid black;
}

h2 {
    text-decoration: underline;
    font-family: 'Merriweather', serif;
}

.para {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}